.footer{
    padding: 15px;
    height: 200px;
    background-color: $colour-secondary;
    color: $coulour-white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}